<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hallo Welt
</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Die Styles.css muss aus allen HTML-Dateien verlinkt werden-->
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Document</title>
</head>
<body>
   <header>
    <img src=""Bank-Gemen32.png">
    <a href="hilfe.html">hilfe</a>
    <a href="Postfach.html">Postfach</a>
    <a href="Profil.html">Profil</a>
    <a href="agb.html">AGB</a>
    Support
   </header> 

   Inhalt der seite

   <footer>
    Geschäftsitz...<a href="https://www.borken-bank.de">Zur Homepage</a>


   </footer>
</body>
</html>